.main-container {
    display: flex;
    width:100%;
    margin:0 auto;
}
.main-container__nav-button {
    width: 20%;
    background-color: #00BCD4;
    opacity: 0.4
}
.main-container__nav-button:hover{
    background-color: #00BCD4;
    opacity:1
}
.inner-data-container{
    width:60%;
    text-align: center;
}
.single-user-container{
    margin:5px 0;
    text-align: center;
    padding: 10px; 
    
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.single-user-container:nth-child(even){
    background-color:  rgba(211, 236, 240, 0.603);
}

.inner-data-container__currentPage-header{
    padding:20px;
    font-size:20px;
    margin:5px 0;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}